---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Built on planet 🌍. Made with ❤️ by <a
          target="_blank"
          href="https://github.com/nexus9111">Joss C.</a
        >.
      </p>
    </div>
  </section>
</footer>
